body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #FFF;
}

.head {
  text-align: center;
}

.pqa {
  font-style: italic;
  font-weight: bolder;
  color: #663333;
  font-family: "Times New Roman", Times, serif;
}

div.top {
  text-align: right;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

div#content {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  line-height: 120%;
}

div#content p {
  margin-left: 1em;
  margin-right: 1em;
}

div#content h1 {
  color: #663333;
  margin-left: 1em;
}

div#content h3 {
  color: #663333;
  margin-left: 1.5em;
}

div#content ul, ol {
  margin-left: 1em;
  margin-right: 2em;
}

div.navigation {
  margin-top: 10px;
  text-align: center;
}

ul.navigation {
  list-style-type: none;
  margin-top: 3px;
}

.navigation a {
  color: #7A1B40;
  text-decoration: none;
}

.navigation a:hover {
  color: #999;
}

div.navigation a {
  text-transform: uppercase;
}

p#copyright {
  margin-top: 3em;
  font-size: 90%;
  font-style: italic;
  text-align: center;
}

.test-name {
  font-weight: bold;
  color: #663333;
}

p.reply {
  padding-left: 3em;
}
