<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <link rel="stylesheet" href="/assets/css/pqa.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <div class="head">
      <img src="/assets/images/pqa_banner.png" width="769" height="269" alt="PQA - Measuing the personal qualities and abilities of aspiring health professionals" />
    </div>
    {% include navigation.html %}
    <div id="content">
      {{ content }}
    </div>
    <p id="copyright">
      Copyright Personal Qualities Assessment &copy; 2020
    </p>
  </body>
</html>
